.item-content{
    width: 275px;
    height: 124px;
}
.item-chart {
    /*width: 100%;*/
    /*height: 100%;*/
    width: 275px;
    height: 124px
}
ul {
    list-style: none;
    display: none;
}
.selected {
    color: red;
}
.parentUl {
    display: block;
}
.map-chart {
    background: #000;
}